/* calculator.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ccc;
    background-color: #eaeaea;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d4d4d4;
}

#equals {
    background-color: #ff9500;
    color: #fff;
    grid-column: span 2;
}

#clear {
    background-color: #ff3b30;
    color: #fff;
    grid-column: span 2;
}
